body {
    background: #fafafa;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

.header {
    padding: 30px;
    border-bottom: 1px #d0d0d0 solid;
}

.header .logo {
    font-size: 28px;
}

.content {
    padding:10px 10px 30px 10px;
}

.user {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    line-height: 22px;
}