body {
    background: #fafafa;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

.header {
    padding: 30px 0 10px 30px;
    border-bottom: 1px #d0d0d0 solid;
}

.header .logo {
    font-size: 28px;
}

.header .menu {
    padding: 8px 0;
}

.header .menu .menu-item {
    display: inline-block;
    margin-right: 10px;
}

.header .menu .menu-item.right {
    float: right;
}

.content {
    padding: 10px 10px 30px 10px;
}

.user {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    line-height: 22px;
}

.login-form {

}

.form .field {
    margin: 10px 0;
}

.form .field .label {
    width: 60px;
    display: inline-block;
}

li.work-name {
}

.question {
    margin: 20px 0;
}

.question-text {
    font-size: 18px;
}

.answers-list {
    margin: 10px 0 0 0;
}

.answer {
    margin: 5px 0;
}

.answer.correct {
    color: #00a500;
}

.form.form-work .field label {
    display: block;
    width: 600px;
}

.form.form-work .field input[type=text] {
    width: 600px;
}

.form.form-work .field textarea {
    width: 600px;
    height: 200px;
}

.form.form-work .answers {
    margin-left:25px;
}

.form.form-work .add, .form.form-work .delete {
    border: 1px solid #aaaaaa;
    display: inline-block;
    padding:4px 10px;
    cursor: pointer;
}

.form.form-work .delete {
    margin-left:10px;
}

.form.form-work .answers .answer.field:only-of-type .deleteAnswer {
    display: none;
}

.form.form-work .questions .question:only-of-type .deleteQuestion {
    display: none;
}

.attempts .attempt {
    margin: 10px 0;
    border-bottom: 1px solid #aaa;
}

.edit-icon, .delete-icon {
    width:15px;
    height:15px;
    vertical-align: middle;
    margin: 0 5px;
}