<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="modules/header"/>
<body th:inline="text">
<div class="wrapper">
    <th:block th:include="modules/menu"/>
    <div class="content">
        <h1>Результаты</h1>
        <div class="test-result">
            <h2>Тест</h2>
            <p><b>Количество вопросов:</b> [[${data.questionsAmount}]]</p>
            <p><b>Количество верных ответов:</b> [[${data.correctQuestionsAmount}]]</p>
            <p><b>Время прохождения теста:</b> [[${data.testDuration}]] минут</p>
        </div>
        <div class="lab-result" th:if="${data.labData != null}">
            <h2>Лабораторная работа</h2>
            <th:block th:include="${data.labResultTemplate}"/>
        </div>
    </div>
</div>
</body>
</html>