<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="modules/header"/>
<body th:inline="text">
<div class="wrapper">
    <th:block th:include="modules/menu"/>
    <div class="content">
        <h1>Вход</h1>
        <p th:if="${loginError}" class="error">Неправильный логин или пароль</p>
        <form th:action="@{/login}" method="post" class="login-form form">
            <div class="field">
                <label for="username" class="label">Логин:</label>
                <input type="text" id="username" name="username" autofocus="autofocus"/>
            </div>
            <div class="field">
                <label for="password" class="label">Пароль:</label>
                <input type="password" id="password" name="password"/> <br/>
            </div>
            <input type="submit" value="Вход"/>
        </form>
    </div>
</div>
</body>
</html>