<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="modules/header"/>
<body th:inline="text">
<div class="wrapper">
    <th:block th:include="modules/menu"/>
    <div class="content">
        <h1>Статистика по работе: [[${statistic.name}]]</h1>
        <p><b>Попыток:</b> [[${statistic.attempts}]]</p>

        <h3>Тест</h3>
        <p><b>Средний процент верных ответов:</b> [[${statistic.correctPercent}]] %</p>
        <p><b>Среднее время выполнения теста:</b> [[${statistic.timeTest}]] минут</p>
        <p><b>Количество вопросов:</b> [[${statistic.questions.size()}]]</p>
        <div class="question" th:each="question : ${statistic.questions}">
            <div class="question-text" th:utext="${question.text}"></div>
            <i th:if="${question.type == T(test_system.entity.QuestionType).SINGLE}">один вариант ответа</i>
            <i th:if="${question.type == T(test_system.entity.QuestionType).MULTIPLY}">несколько вариантов ответа</i>

            <ul class="answers-list">
                <li class="answer" th:classappend="${answer.correct} ? correct" th:each="answer : ${question.answers}">
                    [[${answer.text}]] [[${answer.percent}]]%
                </li>
            </ul>
        </div>

        <div th:if="${statistic.lab == true}">
            <h3>Лабораторная работа</h3>

            <p><b>Среднее время выполнения лабораторной работы:</b> [[${statistic.timeLab}]] минут</p>
        </div>

        <h2>Попытки</h2>
        <div class="attempts">
            <div class="attempt" th:each="attempt : ${statistic.attemptsList}">
                <p>
                    <b>Пользователь:</b> <a
                        th:href="'/statistic/' +  ${attempt.work.id} + '/user/' + ${attempt.user.id}"
                        th:text="${attempt.user.name}">Имя</a>
                </p>
                <p>
                    <b>Время начала:</b> [[${#dates.format(attempt.testStartTime, 'dd MMM yyyy HH:mm')}]]
                </p>
                <p>
                    <b>Время окончания</b> [[${#dates.format(attempt.testEndTime, 'dd MMM yyyy HH:mm')}]]
                </p>
                <p>
                    <b>Количество верных ответов:</b> [[${attempt.correctQuestionsAmount * 100 /
                    attempt.questionsAmount}]]
                </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>