<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="modules/header"/>
<body th:inline="text">
<div class="wrapper">
    <th:block th:include="modules/menu"/>
    <div class="content">
        <h1>Создать работу</h1>

        <form method="POST" class="form form-work create-work">
            <div class="field">
                <label for="title" class="label">Название:</label>
                <input th:type="text" name="title" id="title" required/>
            </div>

            <div class="field">
                <label for="description" class="label">Описание работы:</label>
                <textarea name="description" id="description" required></textarea>
            </div>

            <div class="field">
                <h2>Теория</h2>
                <textarea name="theory" id="theory" required></textarea>
            </div>

            <h2>Тест</h2>

            <div class="field">
                <label for="test-description" class="label">Описание теста:</label>
                <textarea name="test-description" id="test-description" required></textarea>
            </div>

            <ol class="questions">
                <li class="question">
                    <div class="field">
                        <label class="label">Текст вопроса:</label>
                        <input th:type="text" class="question-text" required/> <span
                            class="delete deleteQuestion">-</span>
                    </div>

                    <div class="field">
                        <input type="radio" class="question-type" name="question-type-1" value="SINGLE" checked/> Один ответ
                        <input type="radio" class="question-type" name="question-type-1" value="MULTIPLY"/> Несколько ответов
                    </div>

                    <p>Ответы:</p>
                    <ul class="answers">
                        <li class="field answer">
                            <input th:type="text" class="answer-field" required/> <input
                                type="checkbox" class="correct-field"/> Верный? <span
                                class="delete deleteAnswer">-</span>
                        </li>
                        <div class="add addAnswer">+</div>
                    </ul>
                </li>

                <div class="add addQuestion">+</div>
            </ol>

            <input th:type="submit" class="submit-create" value="Сохранить"/>
        </form>

        <div style="display:none">
            <li class="field answer sample">
                <input th:type="text" class="answer-field" required/> <input
                    type="checkbox" class="correct-field"/> Верный? <span
                    class="delete deleteAnswer">-</span>
            </li>

            <li class="question sample">
                <div class="field">
                    <label class="label">Текст вопроса:</label>
                    <input th:type="text" class="question-text" required/> <span
                        class="delete deleteQuestion">-</span>
                </div>

                <div class="field">
                    <input type="radio" class="question-type" value="SINGLE" checked/> Один ответ
                    <input type="radio" class="question-type" value="MULTIPLY"/> Несколько ответов
                </div>

                <p>Ответы:</p>
                <ul class="answers">
                    <li class="field answer">
                        <input th:type="text" class="answer-field" required/> <input
                            type="checkbox" class="correct-field"/> Верный? <span
                            class="delete deleteAnswer">-</span>
                    </li>
                    <div class="add addAnswer">+</div>
                </ul>
            </li>
        </div>
    </div>
</div>
</body>
</html>