<div th:inline="text" class="header" xmlns:th="http://www.thymeleaf.org">
    <div class="logo">Система тестирования</div>
    <div class="menu">
        <a href="/" class="menu-item">Главная</a>
        <a th:if="${user != null && user.role == T(test_system.entity.Role).ROLE_ADMIN}" href="/users" class="menu-item">Пользователи</a>
        <a th:if="${user != null && user.role == T(test_system.entity.Role).ROLE_ADMIN}" href="/statistic" class="menu-item">Статистика</a>
        <a th:if="${user != null && user.role == T(test_system.entity.Role).ROLE_ADMIN}" href="/gallery" class="menu-item">Галерея</a>


        <a th:if="${user != null}" href="/logout" class="menu-item right">Выход</a>
        <a th:if="${user} == null" href="/login" class="menu-item right">Вход</a>
        <span th:if="${user} != null" class="menu-item right">Здравствуйте, <a href="/user-edit">[[${user.name}]]</a></span>
    </div>
</div>